div.navbar
  div.navbar-inner
    div.container
      a.brand(href='/') Library
      ul.nav
        li
          a(href='/addBook') Add Book
      ul.nav.pull-right
        li.dropdown.pull-right
          a#drop2.dropdown-toggle(href='#', ng-hide='user.id', role='button', data-toggle='dropdown') Login
              b.caret
            ul.dropdown-menu(role='menu', aria-labelledby='drop2')
              li
                a(href='#', ng-click='google_login()') Google
                a(href='#', ng-click='twitter_login()') Twitter
                a(href='#', ng-click='github_login()') GitHub
                a(href='#', ng-click='vk_login()') Vk
                  //- img(src='/img/google.png')
                  //- span Login with Google
          a(href='#') {{user.displayName}}
