include _navbar
div.container.mauto.green
  .pa
    .reading-block
      .reading-area
        p Джон Т.Энгер происходил из семьи, которая вот уже несколько поколений была хорошо известна в Гадесе [Гадес, или Аид, - в мифологии - подземное царство] - маленьком городке на Миссисипи. Отец Джона год за годом удерживал в жарких схватках звание чемпиона по гольфу среди игроков-любителей. Миссис Энгер славилась, по местному выражению, "от парников до турников" своими политическими речами, а юный Джон Т.Энгер, которому только что исполнилось шестнадцать, перетанцевал все последние нью-йоркские танцы еще до того, как сменил короткие штанишки на брюки. Теперь он покидал родной дом - и надолго. Преклонение перед образованием, которое будто бы можно получить только в Новой Англии, - бич всех провинциальных городков, лишающий их самых многообещающих молодых людей, обуяло родителей Джона. Сын их должен был поступить в колледж св.Мидаса близ Бостона - ничто другое их не устраивало. Гадес не был достоин воспитывать их любимого высокоталантливого сына. 
        p Надо сказать, что жителям Гадеса - и вам это известно, если вы там бывали, - названия самых модных приготовительных школ и колледжей говорят очень мало. Жители города так давно и далеко отстали от жизни большого света, что хоть и делают вид, будто следуют моде в одежде, манерах и литературных вкусах, по существу, питаются слухами; и, например, торжественный прием, который в Гадесе считается изысканным, какая-нибудь чикагская мясная принцесса наверняка сочтет "чуточку безвкусным". 
        p Джон Т.Энгер должен был вот-вот уехать. Миссис Энгер с материнской безудержной заботливостью набила его чемоданы полотняными костюмами и электрическими вентиляторами, а мистер Энгер вручил сыну асбестовый бумажник, туго набитый деньгами. 
  .pa
    .center
      .dot
