h2 Books
table.table.table-hover
  thead
  tr
    th Title
    th Author
    th Complete
    th Reding time
    th
    th
    th
    th
  tbody
    tr(ng-repeat='book in books | orderBy:created')
      td
        a.pull-left(href='/book/{{book._id}}')
          h3.book-index-title {{book.title}}
      td {{book.author}}
      td {{book.complete}}
      td {{book.time}}
      td
        a(href='/readByLines/{{book._id}}')
          i.icon-road
      td
        a(href='/readBook/{{book._id}}')
          i.icon-book
      td
        a(href='/editBook/{{book._id}}')
          i.icon-pencil
      td
        a(href='/deleteBook/{{book._id}}')
          i.icon-remove