include _navbar
div.container
  .control-panel.pull-left(ng-show='showOpts')
    .pull-left
      .hide-button.opts-link
        a(href='#', ng-click='showOpts=false') Hide Options
    .opts.well.well-small
      i.icon-minus-sign(ng-click='font_decrease();save_settings()')
      span.prop font size
      i.icon-plus-sign(ng-click='font_increase();save_settings()')
    .opts.well.well-small
      i.icon-minus-sign(ng-click='dalay_decrease();save_settings()')
      span.prop dalay
      i.icon-plus-sign(ng-click='dalay_increase();save_settings()')
    .opts.well.well-small
      i.icon-minus-sign(ng-click='words_decrease();save_settings()')
      span.prop words
      i.icon-plus-sign(ng-click='words_increase();save_settings()')
    .parts.pull-left
      span {{num}} from
      span {{parts.length}}
      span read chars: {{readText.length}}

  //- .line-actions.clearfix
  .pull-left
    .show-button.opts-link
      a(href='#', ng-hide='showOpts', ng-click='showOpts=true') Show Options
  .pull-right
    span(ng-show='showStats')
      span#time
      span.opts-link
        a(href='#', ng-click='showStats=false') Hide Time
    span.opts-link(ng-hide='showStats')
      a(href='#', ng-click='showStats=true') Show Time
    a.btn.btn-large.btn-my(href='#', ng-show='playing', ng-click='pause()', id='btn-pause')
      i.icon-pause
    a.btn.btn-large.btn-primary.btn-my(href='#', ng-hide='playing', ng-click='play()', id='btn-play', rel="tooltip", data-placement="bottom", title='Start when you are ready')
      i.icon-play.icon-white
    

  .reading-block
    .text-area.by-lines
      center#text {{currText}}

  //- .green
  //-   .pa
  //-     .center
  //-       .dot.inline-dot
