include _navbar
div.container
  div.control-panel.clearfix(ng-show='showOpts')
    .hide-button.pull-left.opts-link
      a(href='#', ng-click='showOpts=false') Hide Options
    .opts.well.well-small
      i.icon-minus-sign(ng-click='font_decrease();save_settings()')
      span.prop font size
      i.icon-plus-sign(ng-click='font_increase();save_settings()')
    .opts.well.well-small
      i.icon-minus-sign(ng-click='line_decrease();save_settings()')
      span.prop line height
      i.icon-plus-sign(ng-click='line_increase();save_settings()')
    .opts.well.well-small
      i.icon-minus-sign(ng-click='width_decrease();save_settings()')
      span.prop width
      i.icon-plus-sign(ng-click='width_increase();save_settings()')
    .opts.well.well-small
      i.icon-minus-sign(ng-click='part_decrease();save_settings()')
      span.prop part size
      i.icon-plus-sign(ng-click='part_increase();save_settings()')

  .actions.clearfix
    div.pull-left
      .show-button.opts-link
        a(href='#', ng-hide='showOpts', ng-click='showOpts=true') Show Options
        span.complete {{book.complete}}
        span.percent %

    div.pull-right
      span(ng-show='showStats')
        span#time
        span.opts-link
          a(href='#', ng-click='showStats=false') Hide Time
      span.opts-link(ng-hide='showStats')
        a(href='#', ng-click='showStats=true') Show Time

      a.btn.btn-home(href='/book/{{book._id}}')
        i.icon-home
      a.btn.btn-large.btn-primary.btn-my(href='#', ng-show='playing', ng-click='pause()', id='btn-pause')
        i.icon-pause.icon-white
      a.btn.btn-large.btn-primary.btn-my(href='#', ng-hide='playing', ng-click='play()', id='btn-play', rel='tooltip', data-placement="bottom", title='Start when you are ready')
        i.icon-play.icon-white

      a.btn.btn-home(href='#', ng-click='prev()', id='btn-prev')
        i.icon-arrow-left
      a.btn.btn-large.btn-primary.btn-my(href='#', ng-click='next()', id='btn-next', rel='tooltip', data-placement="bottom", title='Press Right or Space for next part')
        i.icon-arrow-right.icon-white


  .reading-block
    .alert.fade.in.hidden
      button.close(type='button', data-dismiss='alert') ×
      strong Timer Don't started!
      |   Press Play if you are going to mesure you speed and time spend
    div.reading-area
      div#text
