include _navbar
div.container.mauto(ng-init="init()")
  .opts.clearfix
    .btn.btn-primary.start(ng-click="start()") Start
    .btn.cancel(ng-click="cancel()") Cancel
    #time 0.0
    .btn.sizes(ng-click="set_size(4)") 4
    .btn.sizes(ng-click="set_size(5)") 5
    .btn.sizes(ng-click="set_size(6)") 6
  .play-field.play-field-5
    .currNum 1
    .cicle
    .cicle-inner
    .field.clearfix
      .one-block(ng-repeat="elem in arr")
        .unit(ng-click="turn(elem)")
          .num(id="{{elem}}") {{elem}}
