include _navbar
div.container

  h1.page-header {{book.title}}
    small.author {{book.author}}

  .row.view-book-page
    .span7
      dl.dl-horizontal
        dt Name
        dd {{book.title}}
        dt Author
        dd {{book.author}}
        //- dt Current Page
        //- dd {{book.partNum}}
        //- dt Curr
        //- dd {{book.parts[book.partNum].start_pos}}
        dt Complete
        dd {{book.complete}} %
        dt Words
        dd {{book.count.words}}
        dt Chars without spaces
        dd {{book.count.chars_without_spaces}}
        dt Chars
        dd {{book.count.chars}}
        dt Read Words
        dd {{book.read_count.words}}
        //- dt Read Chars
        //- dd {{book.read_count.chars}}
        //- dt Read Chars without spaces
        //- dd {{book.read_count.chars_without_spaces}}
        dt Averange Speed
        dd {{book.readingSpeed}}
        dt Reading Time
        dd {{book.readTime}}
        dt Last using
        dd {{book.updated}}
        dt Created
        dd {{book.createdDate}}

    .span5.read-actions
      .row.reading-act
        a.btn.btn-primary.btn-large(href='/memorize/{{book._id}}') Memorization
      .row.reading-act
        a.btn.btn-primary.btn-large(href='/readBook/{{book._id}}') Paginal reading
      .row.reading-act
        a.btn.btn-primary.btn-large(href='/readByLines/{{book._id}}') Read by phrase
      .row.input-append
        input.span2(type="text", placeholder="Type page number...", ng-model='page_num')
        a.btn.btn-warning(href="#", ng-click='remove_page_info(page_num)') Remove Time
      .row
        a.btn.btn-danger(href="#", ng-click='reset_data()') Reset all data
  //- .row
  //-   .span2
  //-   .span10
  //-     form.form-inline
  //-       textarea(ng-model='textToCheck')
  //-       a.btn.btn-primary(href="#", ng-click='checkCount()') Check
  //-       //- span {{currCount.words}}
  //-       span#count


  .row.graph-block
