extends layout
block body
  div.navbar
    div.navbar-inner
      div.container
        a.brand(href='/') Library
        ul.nav
          li
            a(href='/addBook') Add Book

  div.container
    //- header.jumbotron.subhead(id="overview")
      //- h1 Angular Express Seed
    div(ng-view)
