!!! 5
//if lt IE 7 ]><html class="ie ie6" lang="en">
//if IE 7 ]><html class="ie ie7" lang="en">
//if IE 8 ]><html class="ie ie8" lang="en">
// [if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]
html(ng-app="myApp")
  head
    meta(charset='utf-8')
    title Extended Reader
    meta(name='description', content='')
    meta(name='author', content='')
    // Mobile Specific
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    // CSS
    link(rel='stylesheet', href='/styles/styles.css')
    //- link(rel='stylesheet', href='/styles/angular-ui.css')

    // JS
    script(src='/scripts/libs/jquery.js')
    script(src='/scripts/libs/bootstrap.min.js')
    script(src='/scripts/libs/mousetrap.js')
    script(src='/scripts/libs/jquery.date.js')
    script(src='/scripts/libs/raphael-min.js')
    script(src='/scripts/libs/morris.min.js')
    // script(src='/scripts/libs/fileuploader.js')

    script(src='/scripts/preload.js')
    script(src='/scripts/angular/angular.js')
    script(src='/scripts/angular/angular-sanitize.js')
    script(src='/scripts/angular/angular-resource.js')
    // script(src='/scripts/angular-ui/angular-ui.min.js')
    
    script(src='/scripts/application.js')


    script(src='/scripts/myApp/app.js')

    script(src='/scripts/myApp/controllers/index.js')
    script(src='/scripts/myApp/controllers/addBook.js')
    script(src='/scripts/myApp/controllers/FileUpload.js')
    script(src='/scripts/myApp/controllers/editBook.js')
    script(src='/scripts/myApp/controllers/viewBook.js')
    script(src='/scripts/myApp/controllers/readBook.js')
    script(src='/scripts/myApp/controllers/readByLines.js')
    script(src='/scripts/myApp/controllers/schulte.js')
    script(src='/scripts/myApp/controllers/greenDot.js')

    script(src='/scripts/myApp/directives.js')
    script(src='/scripts/myApp/filters.js')
    script(src='/scripts/myApp/services.js')

  body(data-spy="scroll")
    block body
